---
layout: default
---

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%A, %B %-d, %Y" -%}
        <span class="post-meta">
          <i>{{ post.date | date: date_format }}</i>
        </span>
        <h3 style="margin-bottom: 0">
          <a class="post-link" href="{{ post.url | relative_url }}">
            <b>{{ post.title | escape }}</b>
          </a>
        </h3>
        <div class="post-excerpt">
          {%- if site.show_excerpts -%}
            {{ post.excerpt | truncatewords: 50 }}
          {%- endif -%}
        </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
